* {
    box-sizing: border-box;  
}

body {
    background-color: ivory;
}

.landing {
    margin-top: 0;
    height:100vh;
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/cW5lDBG/videoblocks-abstract-programming-code-moves-in-the-camera-software-development-concept_s0fm20jshg_thumbnail-full01.png);
}

h1 {
    color: ivory;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
}

h2 {
    color: ivory;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

.name-text {
    text-align: center;
    margin-top: 200px;
}

.job-text {
    margin-top: 30px;
}

.job-lower {
    text-align: right;
    margin-top: 15px;
}


.open-btn {
    margin-top: 50px;
    text-align: center;
}

.start-btn {
    color:black;
    background-color: ivory;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:10px;
    border: solid 1px black;
    text-decoration: none;
    border-radius: 20%;
    
}

.start-btn:hover {
    cursor: pointer;
    color: ivory;
    background-color: aqua;
}

.about-me{
    height: 100vh;
    background-color:ivory;
}

.nav {
    background-color: black;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 16.66%);
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.sticky {
    position: fixed;
    top: 0;
    width:100%;
}

#link-1 {
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: left;
    justify-self: left;
    background-color:ivory;
    border-radius:50%;
    padding:5px;
    margin-top:15px;
    margin-bottom:-31px;
}

#link-2 {
    grid-column-start: 1;
    grid-column-end: 1;
    align-self: center;
    justify-self: center;
    background-color:ivory;
    border-radius:50%;
    padding:5px;
    margin-top:-15px;
}

#res {
    color: aqua;
    grid-column-start: 4;
    grid-column-end: 4;
    align-self: right;
    justify-self: right;
    font-size: 20px;
    padding: 15px;
}

#res:hover {
    cursor: pointer;
    font-weight: 800;
}

#nav {
    color: aqua;
    grid-column-start: 5;
    grid-column-end: 5;
    align-self: center;
    justify-self: center;
    font-size: 20px;
    padding: 15px;
}

#nav:hover {
    cursor: pointer;
    font-weight: 800;
}

#nav2 {
    color: aqua;
    grid-column-start: 6;
    grid-column-end: 6;
    align-self: left;
    justify-self: left;
    font-size: 20px;
    padding: 15px; 
    text-decoration: none;
}

#nav2:hover {
    cursor: pointer;
    font-weight: 800;
}

.image-host {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    margin-top: 5em;
}

#my-image {
    grid-column-start: 2;
    grid-column-end: 2;
    width:100%;
    height:20em;
    border: solid 1px black;
    border-radius: 30%;
}

.icons {
    grid-column-start: 4;
    grid-column-end: 4;
    text-align: center;
}

.icons-right {
    grid-column-start: 5;
    grid-column-end: 5;
    text-align: center;
}

.icons-left {
    grid-column-start: 3;
    grid-column-end: 3;
    text-align: center;
}

#icon-1 {
    height: 5em;
    width:5em;
    margin-top: 110px;
}

#icon-2 {
    height: 3em;
    width:4em;
    margin-top: 70px;
}

#icon-3 {
    height: 5em;
    width:5em;
    margin-top: 60px;
}

.tag {
    color: rgb(0, 204, 204);
    border-radius: 20%;
}

#tag-pad {
    padding-top:15px;
}

.image-host-fade {
    -webkit-animation: fadein 2s;
}

.bio-host-none {
    display: none;
}

.bio-host {
    background-color: black;
    color: aqua;
    width:50%;
    font-size: 20px;
    line-height: 1.5;
    padding:40px;
    border-radius: 20%;
    margin-left: 30%; 
}

.portfolio {
    height:100vh;
    background-color: ivory;
}

.top-row {
    width:100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    padding-top: 30px;
}

.img1 {
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: center;
}

.img1:hover {
    cursor: pointer;
}

.img1 img {
    height:150px;
    width:100%;
    border-radius: 30%;
}

.img2 {
    grid-column-start: 4;
    grid-column-end: 4;
    text-align: center;
}

.img2:hover {
    cursor: pointer;
}

.img2 img {
    height:150px;
    width:100%;
    border-radius: 30%;
}

.pro-hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.top-row-text {
    width:100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
}

.text1 {
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: center;
    background-color: black;
    color: aqua;
    padding:10px;
    border-radius: 20%; 
}

.text1:hover {
    cursor: pointer;
}

.text2 {
    grid-column-start: 4;
    grid-column-end: 4;
    text-align: center;
    background-color: black;
    color: aqua;
    padding:10px;
    border-radius: 20%; 
}

.text2:hover {
    cursor: pointer;
}

.port-title {
    text-decoration: underline;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}



@media screen and (max-width:440px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 30px;
    }

    .job {
        margin-right: 23%;
        margin-top:40px;
    }

    .job-lower {
        margin-left: 11%;
    }

    .open-btn {
        margin-top: 60px;
    }

    .start-btn {
        font-size: 15px;
    }

    #my-image {
        grid-column-start: 2;
        grid-column-end: 5;
        width:100%;
        height:200px;
        margin-bottom: 10px;
    }

    .icons {
        grid-column-start: 3;
        grid-column-end: 3;
        text-align: center;
    }

    .icons-left {
        grid-column-start: 1;
        grid-column-end: 1;
        text-align: left;
        margin-left: 15px;
    }

    .icons-right {
        grid-column-start: 5;
        grid-column-end: 5;
        text-align: right;
        margin-right: 15px;
    }

    #icon-1 {
        margin-top: 30px;
        height: 3em;
        width:3em;
    }

    #icon-2 {
        margin-top: 30px;
        height: 2em;
        width:3em;
    }

    #icon-3 {
        margin-top: 30px;
        height: 3em;
        width:3em;
    }

    .tag {
        font-size: 10px;
    }

    .bio-host {
        width:75%;
        margin-left:12.5%;
        margin-top: 45px;
        font-size: 15px;
        line-height: 1.7;
        padding: 20px;
    }

    .img1 {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        text-align: center;
    }

    .img2 {
        grid-column-start: 3;
        grid-column-end: 5;
        width: 100%;
        text-align: center;
    }

    .text1 {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        text-align: center;
        margin-left: 30px;
        margin-top: 25px;
        font-size:10px;
        line-height: 1.5;
    }

    .text2 {
        grid-column-start: 3;
        grid-column-end: 5;
        width: 100%;
        text-align: center;
        margin-left: 50px;
        margin-top: 25px;
        font-size:10px;
        line-height: 1.5;
    }

    .img1 img {
        height:150px;
        width:100%;
        border-radius: 30%;
        margin-left:30px;
    }

    .img2 img {
        height:150px;
        width:100%;
        border-radius: 30%;
        margin-left:50px;
    }

    #bottom-row {
        margin-top: 20px;
    }

    #res {
        font-size:15px;
        grid-column-start: 3;
        grid-column-end: 3;
    }

    #nav {
        font-size:15px;
        padding:10px;
        grid-column-start: 4;
        grid-column-end: 4;
    }

    #nav2 {
        font-size:15px;
        padding-right:20px;
        grid-column-start: 5;
        grid-column-end: 5;
    }

    #link-2 {
        margin-top:-12px;
    }
}


